body {
    background-color: black;
}



.centercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

tbody {
    color: blue;
    border: 2px solid black;
    margin: 10px;
}

tr, th {
    border: 2px solid green;
    padding: 10px;
}
    


#linktable {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}